.profile {
  margin: 0 auto;
  width: 350px;
  border-radius: 15px;
  background: #f0f0f0;
  box-shadow: 20px 15px 20px #949494, -20px -15px 20px #ffffff;
}

.dscr {
  gap: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.avatar {
  margin-bottom: 10px;
}

.tag {
  color: rgba(0, 0, 0, 0.5);
}

.location {
  color: rgba(0, 0, 0, 0.5);
}

.stats {
  display: flex;
}

.stats > li {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: rgb(231, 231, 231);
  box-shadow: 0 0 1px rgb(0 0 0 / 15%);
}

.firstChild {
  border-bottom-left-radius: 15px;
}
.lastChild {
  border-bottom-right-radius: 15px;
}
